<server description="Sample Servlet server">
    <featureManager>
        <feature>servlet-4.0</feature>
    </featureManager>

    <featureManager>
        <feature>concurrent-1.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint" host="*" />

    <webApplication id="GradleSample" location="GradleSample.war" contextRoot="${app.context.root}" />

    <managedExecutorService jndiName="concurrent/myExecutor">
        <contextService>
            <jeeMetadataContext />
        </contextService>
    </managedExecutorService>
</server>
